<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head', { title: pageTitle }) %>
</head>
<body>

<div>
    <header>
        <h1>
            <a href="/">Is it down?</a>
        </h1>
    </header>

    <div class="content">
        <div class="<%= content.errorType %>">
            <div class="circle">
                ●
                <span class="response">
                <% if (elapsedTime !== '') { %>
                    Server Response Time: <span class="bold"><%= elapsedTime %></span> ms
                <% } else { %>
                    No response
                <% } %>
                </span>

            </div>
            <div class="message">
                <%= site %> <%= content.message %>
            </div>
        </div>
        <div class="additional-info">
            <% if (content.code !== '') { %>
            Server responded with a status code of <span class="bold"><%= content.code %></span> <%= content.additional %> <span class="red"><%= content.redText %></span>
            <% } else { %>
            <%= content.additional %>
            <%} %>
        </div>
        <div class="go-again">
            <a href="/">Check another site?</a>
        </div>
    </div>
</div>

<%- include('../partials/footer') %>
<%- include('../partials/scripts') %>
</body>
</html>