<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head', { title: pageTitle }) %>
</head>
<body>

<div>
    <header>
        <h1>
            <a href="/">Is it down?</a>
        </h1>
    </header>

    <div class="content">
        <div class="<%= content.errorType %>">
            <span class="circle">●</span>
            <%= site %> <%= content.message %>
        </div>
        <div class="additional-info">
            <%= content.additional %>
        </div>
        <div class="go-again">
            <a href="/">Check another site?</a>
        </div>
    </div>
</div>

<%- include('../partials/footer') %>
<%- include('../partials/scripts') %>
</body>
</html>